<!-- users/templates/users/admin_delete_user.html -->
{% extends "users/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="mb-4">Kullanıcıyı Sil</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>{{ user.username }} kullanıcısını silmek istediğinizden emin misiniz?</p>
            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-danger">Sil</button>
                <a href="{% url 'custom_admin' %}" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
