<!-- users/templates/users/admin_edit_user.html -->
{% extends "users/base.html" %}

{% block content %}
<h1 class="mb-4">Edit User</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'custom_admin' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
